
.yes{
    height:600px;
    width:100px;
}

#hey{
    
    width: 100%;
    position: sticky;

}
@font-face{
    font-family: myfont;
    src:url(Black\ Crayon.ttf);
}
#hlo{
font-family: myfont;
font-size: 30px;
color: navy;
}
img{
   
    padding: 10px;
}

#yes:hover{
      background-color: gainsboro;
    border:1px solid gainsboro;

}

#map{
    height: 25rem;
    width:60rem;
}

#hi{
    margin-left: 30rem;
}

@media(max-width:768px)
{
 #map{
    margin-left: 1rem;
    height: 10rem;
    width:30rem;
 }
 #hi{
    margin-left: 12rem;
}
}

@media(max-width:480px)
{
 #map{
    margin-left: 1.8rem;
    height: 10rem;
    width:17rem;
 }
 #hi{
    margin-left: 5rem;
}
}

#firstname, #lastname,#gender,#pin,#adress,#username,#red{
    font-size: 20px;
}

