
.yes{
    height:600px;
    width:100px;
}

#hey{
    position: sticky;
    width: 100%;
}
@font-face{
    font-family: myfont;
    src:url(Black\ Crayon.ttf);
}
#hlo{
font-family: myfont;
font-size: 30px;
color: navy;
}
img{
   
    padding: 10px;
}

#yes:hover{
      background-color: gainsboro;
    border:1px solid gainsboro;

}

#map{
    height: 25rem;
    width:60rem;
}

@media(max-width:480px)
{
 #map{
    margin-left: 1.8rem;
    height: 10rem;
    width:17rem;
 }
}

#firstname, #lastname,#gender,#pin,#adress,#username{
    font-size: 20px;
}